<!DOCTYPE html>
<html 
    lang="es"
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="https://www.thymeleaf.org/"
    xmlns:layout="https://ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}"
    >

    <head>
        <title th:if="${title}" th:text="${title}"></title>
        <title th:unless="${title}">Punto de Venta - Java Spring Boot</title>
    </head>

    <div layout:fragment="content">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title" th:text="${titulo}"></h5>
            </div>

            <div class="card-body">
                <table class="table table-striped table-hover table-bordered" id="tablaProductos">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Imagen</th>
                            <th>Cód. Barras</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Stock</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="producto: ${productos}">
                            <td th:text="${producto.id}"></td>
                            <td class="text-center">
                                <img th:src="@{${producto.imagenUrl}}" alt="producto" height="100px">
                            </td>
                            <td th:text="${producto.codigoBarras}"></td>
                            <td th:text="${producto.descripcion}"></td>
                            <td th:text="${producto.precio}"></td>
                            <td th:text="${producto.stock}"></td>
                            <td class="text-end">
                                <a 
                                    th:href="@{/productos/editar/{id} (id = ${producto.id})}" 
                                    class="btn btn-warning" 
                                    title="Editar"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom"
                                    >
                                    <i class='bx bx-edit-alt'></i>
                                </a>
                                <a 
                                    th:href="@{/productos/eliminar/{id} (id = ${producto.id})}" 
                                    class="btn btn-danger" 
                                    title="Archivar"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="bottom"
                                    id="deleteProductBtn"
                                    >
                                    <i class='bx bx-trash' ></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="card-footer">
                <div class="text-start">
                    <a th:href="@{/productos/crear}" class="btn btn-primary">Nuevo producto</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script th:fragment="js" th:src="@{/js/dataTable.js}"></script>
</html>