<!DOCTYPE html>
<html 
    lang="es"
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="https://www.thymeleaf.org/"
    xmlns:layout="https://ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title th:if="${title}" th:text="${title}"></title>
        <title th:unless="${title}">Punto de Venta - Java Spring Boot</title>
    </head>

    <body>
        <div layout:fragment="contenido">
            <div class="container-fluid mt-4">
                <h1 th:text="${title}"></h1>
                
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Hola</h5>
                    </div>

                    <div class="card-body">
                        <div class="form mb-3">
                            <label for="cod-bar" class="form-label">Código de barras</label>
                            <input type="number" class="form-control" name="" id="cod-bar">
                        </div>

                        <div class="form mb-3">
                            <label for="descripcion" class="form-label">Descripción</label>
                            <input type="number" class="form-control" name="" id="descripcion">
                        </div>

                        <div class="form mb-3">
                            <label for="precio" class="form-label">Precio</label>
                            <input type="number" class="form-control" name="" id="precio">
                        </div>

                        <div class="form mb-3">
                            <label for="stock" class="form-label">Stock</label>
                            <input type="number" class="form-control" name="" id="stock">
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="text-end">
                            <a href="#" class="btn btn-primary">Guardar</a>
                            <a href="#" class="btn btn-outline-dark">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>