<!DOCTYPE html>
<html 
    lang="en"
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="https://www.thymeleaf.org/"
    xmlns:layout="https://ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

    <head>
        <title th:if="${title}" th:text="${title}"></title>
        <title th:unless="${title}">Punto de Venta - Java Spring Boot</title>
    </head>

    <div layout:fragment="content">
        <h1 th:text="#{page.title}"></h1>
    </div>

    <!-- Scripts -->
    <script th:fragment="js"></script>
</html>
