<!DOCTYPE html>
<html 
    lang="es"
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="https://www.thymeleaf.org/"
    xmlns:layout="https://ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title th:if="${title}" th:text="${title}"></title>
        <title th:unless="${title}">Punto de Venta - Java Spring Boot</title>
    </head>

    <body>
        <div layout:fragment="~contenido">
            <h1 th:text="${title}"></h1>
        </div>
    </body>
</html>